.rainbow {

    s-base03  :  #002b36;
    s-base02  :  #073642;
    s-base01  :  #586e75;
    s-base00  :  #057b83;
    s-base0   :  #839496;
    s-base1   :  #93a1a1;
    s-base2   :  #eee8d5;
    s-base3   :  #fdf6e3;
}
