.rainbow {

    s-base03  :  #002b36;
    s-base02  :  #073642;
    s-base01  :  #586e75;
    s-base00  :  #057b83; // default fg
    s-base0   :  #839496;
    s-base1   :  #93a1a1;
    s-base2   :  #eee8d5;
    s-base3   :  #fdf6e3;  // default bg

    ;; Solarized accented colors
    ;; yellow    #b58900
    ;; orange    #cb4b16
    ;; red       #dc322f
    ;; magenta   #d33682
    ;; violet    #6c71c4
    ;; blue      #268bd2
    ;; cyan      #2aa198
    ;; green     #859900

    ;; Darker and lighter accented colors
    ;; Only use these in exceptional circumstances!
    ;; (yellow-d  #7B6000)
    ;; (yellow-l  #DEB542)
    ;; (orange-d  #8B2C02)
    ;; (orange-l  #F2804F)
    ;; (red-d     #990A1B)
    ;; (red-l     #FF6E64)
    ;; (magenta-d #93115C)
    ;; (magenta-l #F771AC)
    ;; (violet-d  #3F4D91)
    ;; (violet-l  #9EA0E5)
    ;; (blue-d    #00629D)
    ;; (blue-l    #69B7F0)
    ;; (cyan-d    #00736F)
    ;; (cyan-l    #69CABF)
    ;; (green-d   #546E00)
    ;; (green-l   #B4C342)
}
